<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Cliente</title>
    <!-- Carrega o jQuery e jQuery UI do CDN -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">            <!-- Carrega o arquivo CSS local  -->
    
</head>
<body>
    <header>
        <nav id="menu">
            <ul class="menu">
                <a href="/"><img src="/static/img/icon.png" alt="icon"></a>
                <li><a href="/">HOME</a></li>
                <li><a href="selecionar-cliente">LISTA DE CLIENTES</a></li>
                <li><a href="adicionar-cliente">ADICIONAR CLIENTES</a></li>
                <li><a href="excluir">DELETAR CLIENTES</a></li>
            </ul>
        </nav>
    </header>
    
    <h1> ADICIONAR CLIENTES</h1>
    <form id="adicionarClienteForm" method="post">            
        <label for="dayCluster">Data Cluster    </label>                    <!--Caixa de texto para colocar data-->
        <input type="hidden" id="dayCluster" name="dayCluster"><br>               <!--DATA-->
        
        <label for="clienteName">Nome do Cliente </label>            
        <input type="text" id="clienteName" name="clienteName"><br>             <!--CLIENTE-->      
         
        <button type="submit">Adicionar</button>          <!-- Altere o tipo do botão para "submit" para enviar o formulário quando clicado -->
    </form>


</body>
</html>
